@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --color-main-bg: #050505;
  --color-selected-text: #A3A3FF;
  --color-theme-bg: #5c318c;
  --color-secondary: #9191A4;
  --color-badge:#3F3F51;
  --color-inputBorder:#565666;
  --color-input:#2A2A33;
}

html,
body {
  scroll-behavior: smooth;
}

.secondary-title {
  @apply text-3xl font-bold;
}

.secondary-title::before {
  content:"";
  @apply block w-12 h-2 bg-theme-bg rounded-full mb-1;
}

.section-paragraph {
  @apply text-secondary my-6 w-full max-w-3xl;
}

.badge {
  @apply px-4 py-2 text-sm bg-badge;
}